.btn-site-enable {
  width: 90%;
  white-space: normal;
}

.button-col {
  padding: 4px;
}

.save-btn {
  width: 100%;
  margin-top: 20px;
  padding-left: 4px;
  button {
    width: 100%;
  }
}

.main-container {
  margin: 20px 0 0 10px;
}

.header {
  background-color: #2880C7;
  color: #FFFFFF;
  width: 100%;
  height: 100px;
  padding: 10px;
  vertical-align: middle;
  position: relative;
  div {
    h2 {
      margin: 0;
    }
    a, a:hover {
      color: #FFFFFF;
      text-decoration: none;
    }
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.btn-hdr {
  margin-right: 5px;
}

.btn-header {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #034746;
}

.btn-header:hover,
.btn-header:focus,
.btn-header:active,
.btn-header.active,
.open .dropdown-toggle.btn-header {
  color: #000000;
  background-color: #B4C2C2;
  border-color: #034746;
}

.btn-header:active,
.btn-header.active,
.open .dropdown-toggle.btn-header {
  background-image: none;
}

.btn-header.disabled,
.btn-header[disabled],
fieldset[disabled] .btn-header,
.btn-header.disabled:hover,
.btn-header[disabled]:hover,
fieldset[disabled] .btn-header:hover,
.btn-header.disabled:focus,
.btn-header[disabled]:focus,
fieldset[disabled] .btn-header:focus,
.btn-header.disabled:active,
.btn-header[disabled]:active,
fieldset[disabled] .btn-header:active,
.btn-header.disabled.active,
.btn-header[disabled].active,
fieldset[disabled] .btn-header.active {
  background-color: #FFFFFF;
  border-color: #034746;
}

.btn-header .badge {
  color: #FFFFFF;
  background-color: #036564;
}

.btn-success {
  color: #1E824C;
  border: 1px solid #1E824C;
  background-color: #FFFFFF;
  padding-right: 5px;
  &:hover, &:active, &:focus {
    color: #1E824C !important;
    background-color: #FFFFFF !important;
    border: 1px solid red;
  }
}
.btn-error-border {
  border: 1px solid red;
  color: red;
  background: #FFF;
  &:hover, &:active, &:focus {
    color: red !important;
    background-color: #FFFFFF !important;
    border: 1px solid #1E824C;
  }
}
