$footer-height: 50px;
$header-height: 100px;
$menu-padding: 40px;
$menu-width: 300px;

html,
body {
  height: 100%;
}

a {
  &:active,
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}

.button-col {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.08);

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &.disabled {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.main-container {
  box-sizing: border-box;
  display: table;
  height: 100vh;
  margin-top: -$header-height;
  padding: $header-height 0 0 0;
  width: 100%;

  .row {
    display: table-row;
  }

  .no-float {
    float: none;
  }

  .content {
    display: table-cell;

    .inner {
      margin-bottom: calc(#{$footer-height} + 10px);
      padding: $menu-padding 20px;

      .inner-content {
        display: table-cell;
      }
    }
  }

  .menu {
    display: table-cell;
    background-color: #263238;
    padding: 0;
    vertical-align: top;
    width: $menu-width;

    ul {
      list-style: none;
      margin: 0;
      padding: $menu-padding 0 0 0;

      li {
        a {
          color: rgba(163, 175, 183, .9);
          display: block;
          font-size: 16px;
          font-weight: 500;
          line-height: 50px;
          padding: 0 30px;

          &:active,
          &:hover {
            color: rgba(255, 255, 255, .8);
            background-color: #76838f;
          }

        }
      }
    }
  }
}

.header {
  background-color: #2880c7;
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.8);
  color: #fff;
  display: block;
  height: $header-height;

  h1 {
    margin: 0;
    padding: 30px 30px;
  }
}

.footer {
  background-color: #e4eaec;
  clear: both;
  height: $footer-height;
  margin-top: -$footer-height;
  margin-left: $menu-width;
  padding: 15px 30px;
  text-align: center;
}


.btn-header .badge {
  color: #FFFFFF;
  background-color: #036564;
}

.btn-site-success {
  color: #1E824C;
  border: 1px solid #1E824C;
  background-color: #FFFFFF;
  padding-right: 5px;
  &:hover, &:active, &:focus {
    color: #1E824C !important;
    background-color: #FFFFFF !important;
    border: 1px solid red;
  }
}
.btn-error-border {
  border: 1px solid red;
  color: red;
  background: #FFF;
  &:hover, &:active, &:focus {
    color: red !important;
    background-color: #FFFFFF !important;
    border: 1px solid #1E824C;
  }
}
