$button-margin: 4px;
$button-width: 300px;
$footer-height: 50px;
$header-height: 100px;
$menu-color: #263238;
$menu-padding: 40px;
$menu-width: 300px;

html,
body {
  height: 100%;
}

a {
  &:active,
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}

.sitelist {
  display: table-cell;
  height: 100%;
  padding: 6px;
}

.site-container {
  background-color: #e4eaec;
  border: 1px solid rgba(0, 0, 0, .2);
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 500;
  margin: $button-margin;
  padding: 10px;
  text-align: center;
  width: $button-width;

  &.disabled {
    background-color: #9b2000;
    color: #fff;
  }

  .site-controls {
    margin-top: 10px;
  }
}

.site-priority-input {
  .dropdown-menu {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    left: -2px;
    margin-top: -1px;
    min-width: 46px;

    a {
      padding: 3px 15px;
    }
  }
}

.btn-site {
  background-color: #e4eaec;
  border: 1px solid rgba(0, 0, 0, .2);
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  margin: $button-margin;
  padding: 15px 0;
  width: $button-width;

  &:hover,
  &.disabled:hover {
    background-color: #9aa5ad;
    color: #000;
  }

  &.disabled {
    background-color: #76838f;
    color: #fff;
  }

  &:focus {
    outline: 0;
  }
}

.setting {
  font-size: 16px;

  input[type='checkbox'] {
    cursor: pointer;
    margin-right: 5px;
  }

  label {
    cursor: pointer;
    font-weight: 400;
  }
}

.main-container {
  box-sizing: border-box;
  display: table;
  height: 100%;
  min-height: calc(100vh - #{$header-height});
  margin-top: -$header-height;
  padding: $header-height 0 0 0;
  width: 100%;

  .content {
    background-color: #f1f4f5;
    display: table-cell;
    height: 100%;
    min-height: calc(100vh - #{$header-height});
    margin-left: $menu-width;

    .inner {
      display: table;
      margin-bottom: calc(#{$footer-height} + 10px);
      height: 100%;
      padding: $menu-padding 20px;
    }
  }

  .menu {
    background-color: $menu-color;
    display: table-cell;
    height: 100%;
    // min-height: calc(100vh - #{$header-height});
    padding: 0;
    vertical-align: top;
    width: $menu-width;

    ul {
      list-style: none;
      margin: 0;
      padding: $menu-padding 0 0 0;

      li {
        a {
          color: #a3afb7;
          display: block;
          font-size: 16px;
          font-weight: 500;
          line-height: 50px;
          padding: 0 10px 0 30px;

          &.selected {
            background-color: #242f35;
            border-bottom: 1px solid rgba(0, 0, 0, .06);
            border-top: 1px solid rgba(0, 0, 0, .06);
            color: #fff;
          }

          &:active,
          &:hover {
            color: rgba(255, 255, 255, .8);
            background-color: #76838f;
          }
        }

        .menu-arrow {
          display: inline-block;
          font-size: 24px;
          vertical-align: middle;

          &:before {
            content: "\232A";
          }
        }

        .menu-title {
          display: inline-block;
          width: calc(#{$menu-width} - 65px);
        }
      }
    }
  }
}

.header {
  background-color: #2880c7;
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.8);
  color: #fff;
  display: block;
  height: $header-height;

  h1 {
    margin: 0;
    padding: 30px 30px;
  }
}

.footer {
  background-color: #e4eaec;
  height: $footer-height;
  margin-top: -$footer-height;
  margin-left: $menu-width;
  padding: 15px 30px;
  text-align: center;

  a {
    margin-right: 10px;
  }
}

.site-enabled-icon {
  margin-left: 6px;
  margin-top: 2px;
}
