html {
  height: 100px;
  padding: 0;
  margin: 0;
}
body {
  height: 100px;
  width: 180px;
  padding: 0;
  margin: 0;
}
a, a:hover, a:visited {
  text-decoration: none;
}

.ext-container {
  margin: 0;
  width: 190px;
}

.header {
  background-color: #036564;
  a, a:active, a:visited {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.player-row {
  margin: 10px 0 10px 40px;
  span {
    display: inline-block;
    width: 40px;
  }
}

.button-row {
  text-align: center;
  button {
    margin-bottom: 5px;
    width: 170px;
    span {
      margin: 0 10px 0 -10px;
    }
  }
}

#fail-message {
  padding: 5px;
}

.ext-options {
  margin-top: 10px;
  border-top: 1px solid #DDDDDD;
}
.ext-options a, .ext-options a:active, .ext-options a:visited {
  color: #3F6EC2;
  display: inline-block;
  padding: 5px 5px 5px 5px;
}
.ext-options a:hover {
  background: #EEEEEE;
}

.top-row {
  height: 20px;
  line-height: 20px;
  margin-bottom: 5px;
  display: "none";
}

.toggle {
  display: inline-block;
  visibility: hidden;
  vertical-align: middle;
}

#tab-favicon {
  margin-right: 4px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
}

#info-message {
  vertical-align: middle;
  display: inline-block;
  margin-left: 4px;
}

// thanks to @Hachapury for checkbox toggler
// http://codepen.io/Hachapury/pen/KrcBm

#check {
  display: none;
}

.check-box-wrapper {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  background: #cc3737;
  overflow: hidden;
}

.check-box-wrapper #check-label {
  border: 1px solid #bdbfbe;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: #e8efeb;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  display: block;
  font-size: 11px;
  left: 0;
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 1px;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.check-box-wrapper #check-label:before {
  content: "";
  display: inline-block;
  float: left;
  padding-top: 4px;
  margin-left: -22px;
  color: #e8efeb;
}
.check-box-wrapper #check-label:after {
  content: "";
  display: inline-block;
  float: left;
  padding-top: 4px;
  margin-left: 24px;
  color: #e8efeb;
}

.check-box-wrapper #check:checked + #check-label {
  left: 11px;
}
