$popup-width: 220px;
$main-color: #2880C7;

html {
  padding: 0px;
  margin: 0px;
  min-height: 100px;
  max-height: 300px;
}

body {
  width: $popup-width;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div a, div a:hover, div a:visited {
  text-decoration: none;
}

.player-div-border {
  border-left: 1px solid $main-color;
  border-right: 1px solid $main-color;
}

.header {
  background-color: $main-color;
  border-top: 1px solid $main-color;
  border-left: 1px solid $main-color;
  border-right: 1px solid $main-color;
  text-align: center;
  padding: 8px;
  font-size: 18px;
  letter-spacing: 1.5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.header a, .header a:active, .header a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.song-data {
  overflow: hidden;
  padding-left: 4px;
  height: 20px;
  width: $popup-width;
}

.site-data {
  overflow: hidden;
  height: 20px;
  width: $popup-width;
}

.site-favicon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.site-title {
  font-size: 14px;
  vertical-align: middle;
}

#player {
  @extend .player-div-border;
  padding-bottom: 10px;
  text-align: center;
}

.player-row {
  padding: 5px 0 0 0;
}

.player-controls-row {
  span.glyphicon {
    display: inline-block;
    font-size: 12px;
  }
  span.glyphicon:hover {
    opacity: 0.7;
  }
}

.button-row {
  @extend .player-div-border;
  text-align: center;

  button {
    margin-bottom: 8px;
    width: 146px;
  }
  button span {
    margin: 0 10px 0 -10px;
  }
}

.options-row {
  background-color: $main-color;
  display: block;
  width: 100%;
  padding: 10px 27px;
  font-size: 15px;
  letter-spacing: 1.5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 2px solid $main-color;
  border-left: 2px solid $main-color;
  border-right: 2px solid $main-color;
}

.options-row a, .options-row a:hover, .options-row a:visited {
  color: #FFFFFF;
}

.options-row #help-link {
  float: right;
  padding-right: 2px;
}

.toggle {
  display: inline-block;
  visibility: hidden;
  vertical-align: middle;
}

.no-sites {
  padding-top: 10px;
}

.btn-success#enable-site{
  color: #1E824C;
  border: 1px solid #1E824C;
  background-color: #fff;
  padding-right: 5px;
}
.btn-success#enable-tab{
  color: #1E824C;
  border: 1px solid #1E824C;
  background-color: #fff;
  padding-right: 5px;
}

.btn-error-border#enable-site {
  border: 1px solid red;
  color: red;
}
.btn-error-border#enable-tab {
  border: 1px solid red;
  color: red;
}
