$popup-width: 220px;
$main-color: #2880C7;

html {
  padding: 0px;
  margin: 0px;
  min-height: 100px;
  max-height: 300px;
}

body {
  width: $popup-width;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div a, div a:hover, div a:visited {
  text-decoration: none;
}

.player-div-border {
  border-left: 1px solid $main-color;
  border-right: 1px solid $main-color;
}

.disabled {
  .site-title, .site-favicon, .song-data {
    opacity: .5;
  }
  .player-controls-row {
    opacity: .5;
    pointer-events: none;
  }
}

.song-data {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  padding: 0 4px 0 4px;
  height: 18px;
}

.site-data {
  overflow: hidden;
  height: 20px;
  width: $popup-width;
  .settings {
    float: right;
    margin: 3px 6px 0 0;
    width: 12px;
    font-size: 12px;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
  .settings-active {
    opacity: 1;
  }
}

.site-favicon {
  width: 16px;
  height: 16px;
  margin-left: 12px;
  border: none;
}

.site-title {
  font-size: 14px;
  vertical-align: middle;
}

#player {
  @extend .player-div-border;
  padding-bottom: 10px;
  text-align: center;
}

.player-row {
  padding: 5px 0 0 0;
}

.site-tab-container {
  a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: #000;
  }
}

.player-controls-row {
  span.glyphicon {
    display: inline-block;
    font-size: 12px;
  }
}

.header {
  @extend .player-div-border;
  background-color: $main-color;
  border-top: 1px solid $main-color;
  text-align: center;
  padding: 6px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  a, a:active, a:visited {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.options {
  @extend .player-div-border;
  background-color: $main-color;
  display: block;
  width: 100%;
  padding: 6px 27px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 2px solid $main-color;
  #help-link {
    float: right;
    padding-right: 2px;
  }
  a, a:hover, a:visited {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.toggle {
  display: inline-block;
  visibility: hidden;
  vertical-align: middle;
}

.no-sites {
  padding-top: 10px;
}


.music-site-buttons {
  padding-bottom: 5px;
}

.button-row {
  text-align: center;
  display: none;

  button {
    padding: 1px 4px 1px 4px;
    height: 20px;
    width: 106px;
    font-size: 12px;
  }
  button span {
    margin-right: 5px;
  }

  .btn-enabled, .btn-enabled:active, .btn-enabled:focus {
    background-color: $main-color;
    border-color: darken($main-color, 5%);
    color: #FFFFFF;
    &:hover {
      background-color: darken($main-color, 25%);
      color: #FFFFFF;
    }
  }

  .btn-disabled, .btn-disabled:active, .btn-disabled:focus {
    background-color: darken($main-color, 25%);;
    border-color: darken($main-color, 5%);
    color: #FFFFFF;
    &:hover {
      background-color: $main-color;
      color: #FFFFFF;
    }
  }
}

